* {
  scroll-behavior: smooth;
  box-sizing: border-box;
}
header {
  position: sticky;
  top: 0;
  z-index: 10;
}

main {
  text-align: center;
  padding: 30px 10%;
}
.grid-productos,
.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  justify-items: center;
  margin-top: 30px;
}
footer {
  background: #2b3035;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 40px;
}

.consultas{
    margin-top: 100px;
}